* @guardian/client-side-infra

/packages/@guardian/source-react-components-development-kitchen/components/button @guardian/dotcom-platform
/packages/@guardian/source-react-components-development-kitchen/components/lines @guardian/dotcom-platform
/packages/@guardian/source-react-components-development-kitchen/components/logo @guardian/dotcom-platform
/packages/@guardian/source-react-components-development-kitchen/components/quote-icon @guardian/dotcom-platform
/packages/@guardian/source-react-components-development-kitchen/components/star-rating @guardian/dotcom-platform
