* @guardian/client-side-infra

/src/kitchen/components/button @guardian/dotcom-platform
/src/kitchen/components/lines @guardian/dotcom-platform
/src/kitchen/components/logo @guardian/dotcom-platform
/src/kitchen/components/quote-icon @guardian/dotcom-platform
/src/kitchen/components/star-rating @guardian/dotcom-platform
