node_modules
dist
*.d.ts

# for now ignore foundations script files
packages/source/foundations/scripts

# ignore foundations dist files
packages/source/foundations/mq
packages/source/foundations/accessibility
packages/source/foundations/palette
packages/source/foundations/size
packages/source/foundations/themes
packages/source/foundations/typography
packages/source/foundations/utils
packages/source/foundations/foundations.js
packages/source/foundations/foundations.esm.js
