node_modules
*.log
dist
.cache
.DS_Store
*.tgz
package-lock.json
.idea/
.vscode/settings.json
coverage/

# scripts/get-usage
scripts/get-usage/config.*.json
scripts/get-usage/results/
scripts/get-usage/tmp/

# scripts/eslint-integration-test
scripts/eslint-integration-test/integration-test-content.ts

# Environment
.env
