node_modules
*.log
dist
.cache
.DS_Store
*.tgz
package-lock.json
.idea/
.vscode/settings.json
coverage/
.eslintcache
.vscode/

# scripts/eslint-integration-test
scripts/eslint-integration-test/integration-test-content.ts

# Environment
.env
