# Ignore built files
mq/
accessibility/
palette/
size/
themes/
typography/
utils/
foundations.js
foundations.esm.js
*.d.ts
*.tgz
tsconfig.tsbuildinfo

# Include src files
!src/mq/
!src/accessibility/
!src/palette
!src/size
!src/themes/
!src/typography/
!src/utils/
