name: Chromatic
on:
  push:
    branches-ignore:
      - 'gh-pages'
      - '[0-9]+.[0-9]+'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: guardian/actions-setup-node@v2.4.1
        with:
          cache: 'yarn'
      - run: |
          yarn install --frozen-lockfile
          yarn build:storybook:ci
      - uses: chromaui/action@v1
        with:
          projectToken: ${{ secrets.CHROMATIC_APP_CODE }}
          token: ${{ secrets.GITHUB_TOKEN }}
