name: Chromatic
on:
  workflow_run:
    workflows: ['Dependabot PR Check']
    types:
      - completed
  push:
    branches-ignore:
      - 'gh-pages'
      - '[0-9]+.[0-9]+'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: guardian/actions-setup-node@main
      - run: |
          yarn
          yarn ci:build
      - uses: chromaui/action@v1
        with:
          projectToken: ${{ secrets.CHROMATIC_APP_CODE }}
          token: ${{ secrets.GITHUB_TOKEN }}
