name: "Chromatic"
on:
    push:
        branches-ignore:
            - "gh-pages"
            - "[0-9]+.[0-9]+"
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - uses: actions/setup-node@v1
              with:
                  node-version: 12
            - run: |
                  yarn
                  yarn ci:build
            - uses: chromaui/action@v1
              with:
                  appCode: ${{ secrets.CHROMATIC_APP_CODE }}
                  token: ${{ secrets.GITHUB_TOKEN }}
